<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.affiliates.iap.iapspring2017">

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sing_in.SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".MainActivity"
            android:label="Schedule"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".activities.PosterDescriptionActivity"
            android:label="Posters"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".activities.LocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen"></activity>
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen"></activity>
        <activity
            android:name=".profiles.IAPStudentProfile"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen"></activity>
        <activity
            android:name=".profiles.AdvisorProfile"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen"></activity>
        <activity
            android:name=".evaluation_center.EvaluationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen"></activity>
        <activity
            android:name=".activities.CompanyListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen"></activity>
        <activity
            android:name=".activities.StudentsOfInterestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen"></activity>
        <activity
            android:name=".activities.ProfileEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen"></activity>
        <activity
            android:name=".sing_in.EnterEmail"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".sing_in.AccountType"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".sing_in.EmailConfirmation"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".sing_in.PasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".evaluation_center.GeneralVoteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".activities.NoConnectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".activities.PosterViewer"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
    </application>

</manifest>