<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.affiliates.iap.iapspring2017">

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Authentication.SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".Tabs.TabController.HomeActivity"
            android:label="Schedule"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".Tabs.MoreTab.FeedBackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".Tabs.PostersTab.PosterDescription.PosterDescriptionActivity"
            android:label="Posters"
            android:parentActivityName=".Tabs.TabController.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".Tabs.MoreTab.LocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
        </activity>
        <activity
            android:name=".Authentication.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
        </activity>
        <activity
            android:name=".Authentication.CreateAccount.NameAndGender"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
        </activity>
        <activity
            android:name=".Profiles.IAPStudentProfile"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
        </activity>
        <activity
            android:name=".Profiles.AdvisorProfile"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
        </activity>
        <activity
            android:name=".EvaluationCenter.EvaluationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
        </activity>
        <activity
            android:name=".Tabs.MoreTab.Sponsors.CompanyListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen"></activity>
        <activity
            android:name=".Tabs.MoreTab.StudentsOfInterest.StudentsOfInterestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen"></activity>
        <activity
            android:name=".Tabs.MoreTab.ProfileEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen"></activity>
        <activity
            android:name=".Authentication.CreateAccount.EnterEmail"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".Authentication.CreateAccount.AccountType"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".Authentication.CreateAccount.EmailConfirmation"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".Authentication.CreateAccount.PasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".EvaluationCenter.GeneralVoteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".NoConnectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".Tabs.PostersTab.PosterDescription.PosterViewer"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
    </application>

</manifest>